DJANGO_SECRET_KEY=dev-not-secret-change-me
DEBUG=True
ALLOWED_HOSTS=*
LOG_LEVEL=INFO

DJANGO_DB_HOST=db
DJANGO_DB_PORT=5432
DJANGO_DB_NAME=schedule_db
DJANGO_DB_USER=schedule_user
DJANGO_DB_PASSWORD=othersecretpassword

AWS_REGION=us-east-1
AWS_ENDPOINT_URL=
SCHEDULE_SNS_TOPIC_ARN=
EVENTS_SQS_QUEUE_URL=

INTERNAL_SHARED_TOKEN=dev-internal-token
SLOT_RESERVATION_TTL_MINUTES=10
